.visible-xs {
    display: none;
}

@media (max-width: 576px) {
    .visible-xs {
        display: block;
    }

    .logo-fast {
        margin-bottom: 20px;
        display: block;
    }

    .headerTitle {
        text-align: center;
    }

    .listingReview span {
        margin-right: 10px;
    }

    .map-sidebar {
        width: 100%;
    }
}