.visible-xs {
    display: none;
}

@media (max-width: 576px) {
    .visible-xs {
        display: block;
    }

    .logo-fast {
        margin-bottom: 20px;
        display: block;
    }

    .headerTitle {
        text-align: center;
    }

    .listingReview span {
        margin-right: 10px;
    }

    .map-sidebar {
        width: 100%;
    }
}


.bottomlinks ul li a {
    line-height: 24px;
    color: #cfcfcf;
    font-size: 14px;
}

.bottomLinks ul li a {
    color: #FF0000;
}

.merchants_list h1 {
}

.merchants-list {
    background-color: #fd1f97;
}

.merchants-list .page-header h2 {
    color: #FFFFFF;
}

.merchants-list .page-header small {
    color: #ffffff;
}

.club-buttons {
    float: right;
}

.logo-fast {

}

.logo-fast {
    float: right;
    padding: 10px 0 10px 0;
}

.search-fast {
    padding: 20px 10px 20px 0px;
}

.list-inline-list {
    white-space: nowrap;
    overflow: hidden;
    max-width: 270px;
}

.club-buttons a {
    margin-left: 5px;
}

.club-buttons {
    margin-top: 10px;
}

.promo {
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.promo-green {
    background-color: #17bc82;
}

.promo-red {
    background-color: #FF0000;
}

.promo-conditions {
    padding: 0 15px;
    color: #f10f0f;
    margin-bottom: 10px;
}

.promo-code {
    min-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0px;
}

bottom {
    color: #FF0000;
}

.panel-merchant {
    /* padding-bottom: 40px */
}

.promo-value span {
}

.promo-value {
    min-height: 20px;
    position: relative;
    font-size: 40px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px 15px 10px;
    color: #ffffff;
    border-radius: 5px;
    /* margin-top: 20px */
}
.promo-text {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }
.promo-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
div.promo .row {
    /* margin-bottom: 5px; */
}
div.promo .row {
    margin-bottom: 10px;
}
.promo-end {
    text-align: center;
}
.promo img {
    float: left;;
    padding-right: 10px;
}
@media screen and (max-width:479px) {
    .promo img {
        float: none;
    }
}
.panel-topshop ul.left {
     float: left;
     width:53%;
     padding-left:15px;
 }
@media screen and (max-width:479px) {
    .merchant-title {
        text-align: center;
    }
}
.itmeName-cashback b {
    padding-right: 5px;
}
.merchant-logo img
{
    border-radius: 5px;
}

.code
{
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: brown;
    border-radius: 5px;
}
.favorite
{
    cursor: pointer;
}


.map-container
{
    background-color: #ffffff;
}